altgraph==0.17.5
black==26.5.1
click==8.4.2
colorama==0.4.6
docstring-to-markdown==0.17
dotenv==0.9.9
importlib_metadata==9.0.0
jedi==0.19.2
mypy_extensions==1.1.0
packaging==26.2
parso==0.8.7
pathspec==1.1.1
pefile==2024.8.26
phonenumbers==9.0.35
platformdirs==4.11.0
pluggy==1.6.0
pyaes==1.6.1
pyasn1==0.6.4
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
python-dotenv==1.2.2
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.14.0
pytokens==0.4.1
pywin32-ctypes==0.2.3
rsa==4.9.1
Telethon==1.44.0
tomli==2.4.1
typing_extensions==4.16.0
ujson==5.13.0
zipp==4.1.0
